body{
    background: #072256;
    font-family:"Poppins", sans-serif;
}
.nav{
    display: grid;
    grid-template-areas: 
    '. list . btn';
    grid-template-columns: 3fr 4fr 1fr 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.nav-list{
    grid-area: list;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap:25px;
}
.nav-item1{
    color: #FFB742;
    
}
.btn.hire-me{
    grid-area: btn;
    background-color: #FFB742;
    border-radius: 20px;
    width:80px;
    height: 30px;
    border: none;
}
.content{
    display: flex;
    flex-direction: row;
    padding: 35px;
}
img{
    width : 350px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 20px;
}
.image{
    width:500px;
}
.btn2{
    background-color: #154192;
    border-radius: 20px;
    width:80px;
    height: 30px;
    border: none;
    color: #FFB742;
}
.text1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 20px;
    width: 60%;
}
.image1{
    display: flex;
    justify-content: center;
    height:150px;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}